.source-code pre {
    padding: 0;
    border-radius: 10px;
    font-family: "SFMono-Regular", Consolas, "Liberation Mono", Menlo, monospace;
    font-size: 14px;
    line-height: 1.4;
}

#error-widget {
    padding: 10px;
    margin-bottom: 20px;
    background-color: #DDDDDD;
    border-radius: 10px;
}

/* Error message styles */
.error-container {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.version-slider-container {
    margin-bottom: 16px;
    display: flex;
    align-items: center;
}

.version-slider {
    flex: 1;
    margin: 0 10px;
}

.version-label {
    color: #666;
}

.error-message {
    background-color: #F6F8FA;
    font-family: "SFMono-Regular", Consolas, "Liberation Mono", Menlo, monospace;
    font-size: 0.9em;
    min-height: 400px;
    padding: 12px;
    border-radius: 10px;
    line-height: 1.4;
    max-height: 400px;
    overflow-y: auto;
    white-space: pre;
}

@media only screen and (min-width: 800px) {
    .error-message {
        white-space: pre-wrap;
    }
}
